blockquote {
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  color: #4F2D7F;
  font-weight: bold;
  padding: 14px;
}

strong {
  color: #2E3440;
  font-weight: bold;
}

.blog-link {
  color: #4F2D7F;
  font-weight: bold;
  text-decoration: underline;
}

.highlight {
  border-bottom: 3px solid #4F2D7F;
  border-bottom-style: solid;
  padding-bottom: -14px;
}

.origin-letter {
  color: #4F2D7F;
  font-size: 35px;
}
