blockquote {
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  color: #2b8c53;
  font-weight: bold;
  padding: 14px;
}

strong {
  color: #333;
  font-weight: bold;
}

a:hover {
  color: ;
}

.blog-link {
  color: #2b8c53;
  font-weight: bold;
  text-decoration: underline;
}

.highlight {
  border-bottom: 3px solid #2b8c53;
  border-bottom-style: solid;
  padding-bottom: -14px;
}

.origin-letter {
  color: #2b8c53;
  font-size: 35px;
}